html{
    height: 100%;
}
body {
    height: 100%;
    color: rgb(98, 98, 98);
    background: #F6F8FF;
}

#form-wrapper{
    width:350px;
    margin:0 auto;
}

form {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

p{
    flex-direction: row;
}

form input {
    border: 1px solid rgb(151, 151, 151);
    padding: 15px 28px;
    margin: 10px 10px;   
    cursor: pointer;
}
.options {
    flex-direction: row;
    margin-left: 2px;
}

#cargo {
    justify-content: flex-end;
}

#cargo input{
    width: 30%;
    padding: 12px;
    margin: 2%;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 10px;
    margin-right: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
